/* Body and font selector style changes changes */

* {
    box-sizing: border-box;
}

body {
    margin: 0 0;
    line-height: 1.6;
    hyphens: auto;
    font-family: 'Varela Round', sans-serif;
}

h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

a {
    color: #093a58;
    text-decoration: none;
}

.top-nav ul {
    color: #3acec2;
    text-transform: uppercase;
    list-style: none;
    line-height: 2;
}

li:hover {
    color: #093a58;
}

/* Google font imports
font-family: 'Varela Round', sans-serif;
*/

.main-header, .top-nav ul {
    text-align: center;
    margin: 0 3rem;
}


/* Container changes and designs Mobile First approach used */

/* .main-header, .top-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    align-content: center;

}



/* Top page banner deign */

.banner-one-image {
    width: 15%;
    min-width: 15%;
    display: block;
    margin: 0 auto;
}


.banner-one {
    display: block;
    margin: 0 auto;
    background-color: #3acec2;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: white;
    text-align: center;
}


/*Middle container design */

.row {
    margin: 0 3rem;
}

.travel {
    font-weight: bold;
}



footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0;
    background-color: #d9e4ea;
    color: black;
    padding: 2rem;
    font-size: 0.8rem;
} 




.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.container {
    display: flex;
    flex-basis: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1rem;
}


.image-text {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.2rem;
    text-shadow: 3px 3px 5px #3acec2 ;

}

.row {
    display: flex;
    flex-direction: column;
}


/* media query for responsive design using  FLEXBOX site made to respond to changes in viewport size from phone view to larger screens */


@media only screen and (min-width: 769px),
        only screen and (min-width:667px) and (orientation: landscape) {
    /* .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    } */

    .main-header {
        display: flex;
        flex-direction: column;
    }
    
    .top-nav ul {
        list-style: none;
        display: flex;
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .primary {
        flex-grow: 2;
    }

    .tertiary {
        flex-grow: 3;
    }

    .col {
        flex-basis: 1;
        flex-wrap:wrap;
    }

}



@media (min-width: 1025px) {

    .main-header {
        flex-direction: row;
        justify-content: space-between;
       
       
    }


    
    .top-nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }

}
